{{>layouts/header}}
    <table class="table">
        <tread>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
            </tr>

            {{#memberList}}
                <tr>
                    <th>{{id}}</th>
                    <td><a href="/members/{{id}}">{{email}}</a></td>
                    <td>{{password}}</td>
                </tr>
            {{/memberList}}
        </tread>
    </table>
    <a href="/signup">회원가입</a>
{{>layouts/footer}}