{{>layouts/header}}

    <table class="table">
        <tread>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
            </tr>
            {{#articleList}}
                <tr>
                    <th>{{id}}</th>
                    <td><a href="/articles/{{id}}">{{title}}</a></td>
                    <td>{{content}}</td>
                </tr>
            {{/articleList}}
        </tread>
    </table>
<a href="/articles/new">New Article</a>
{{>layouts/footer}}