{{>layouts/header}}

    {{#article}}
    <table class="table">
        <tread>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
            </tr>
                <tr>
                    <th>{{id}}</th>
                    <td>{{title}}</td>
                    <td>{{content}}</td>
                </tr>

        </tread>
    </table>
    <a href="/articles/{{id}}/edit" class="btn btn-primary">Edit</a>
    <a href="/articles/{{id}}/delete" class="btn btn-danger">Delete</a>
    <a href="/articles">Go to Article List</a>
    {{/article}}
{{>layouts/footer}}