{{>layouts/header}}

    <table class="table">
        <tread>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Content</th>
            </tr>
            {{#article}}
                <tr>
                    <th>{{id}}</th>
                    <td>{{title}}</td>
                    <td>{{content}}</td>
                </tr>
            {{/article}}
        </tread>
    </table>

{{>layouts/footer}}