<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<!-- 타임리프를 사용하기 위한 준비물
 없어도 타임리프 사용할수 있다고 하나 있으면 자동완성기능이 생김-->


<!--
    타임리프는 기본적으로 HTML 태그 안에  th:  로 시작하는 속성을 지정하여 사용
    th:replace 란? jsp:include 처럼 랜더링 될때
    header.html에 있는 th:fragment="header" 를 찾아서 바꿔치기 함

    지금 내가 한 방법으로는 include-style layouts 로 header, footer를 나눴지만
    실무에서는 Hierarchical-style layouts 를 사용한다고 함. 궁금하면 검색
 -->
<head th:replace="fragments/header.html :: header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, world!</title>
</head>
<body>
<!-- navigation -->
<nav th:replace="fragments/bodyheader.html :: bodyheader" />
<!-- content -->
<div class="bg-dark text-white p-5">
    <h1 th:text="|${username}님, 반갑습니다|">홍팍님, 반갑습니다</h1>
    <!--
    th:text 란? html태그 text 속성과 똑같음 단지 html태그를 타임리프 태그로 변경하고 변수를 사용할 수 있음 -->
    <!-- 타임리프 문법 1. ${변수명} model에서 받아온 변숫값을 넣어줌 -->

    <h1 th:text="${username} + '님, 반갑습니다'">홍팍님, 반갑습니다</h1>
    <!-- 타임리프 문법 2. | | 파이프 특수 문자를 사용안할 시  + 로 변수와 문자를 이어줘야함 -->
</div>

<!-- site info -->
<div th:replace="fragments/footer.html :: footer"></div>


</body>
</html>