{{>layouts/header}}
{{#member}}

<form class="container" action="/members/update" method="post" >
    <input type="hidden" name="id" value="{{id}}">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="email" value="{{email}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" type="password" name="password" value="{{password}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/members/{{id}}" class="btn btn-primary">Back</a>
</form>

{{/member}}
{{>layouts/footer}}
