<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<th:block th:insert="~{layouts/header :: header}"></th:block>

<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${memberList}">
        <th th:text="${member.id}">1</th>
        <td>
            <a th:text="${member.email}" th:href="@{|/members/${member.id}|}"></a>
        </td>
        <td th:text="${member.password}">내용1111</td>
    </tr>
    </tbody>
</table>
<a href="/members/new">회원가입</a>

<th:block th:insert="~{layouts/footer :: footer}"></th:block>

</body>
</html>