{{>layouts/header}}

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>PW</th>
        </tr>
        </thead>

        <tbody>
            {{#member}}
            <tr>
                <td>{{id}}</td>
                <td>{{email}}</td>
                <td>{{password}}</td>
            </tr>
            {{/member}}
        </tbody>
    </table>
<a href="/members/{{member.id}}/edit" class="btn btn-success">Edit</a>
<a href="/members" class="btn btn-primary">Member List</a>

{{>layouts/footer}}